:root {
    --primary: #00427D;
    --secondary: #36465F;
    --accent: #D7d286;
}

* {
    padding: 0%;
    margin: 0%;
}

/* Body */

body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Text */

p, li {
    margin: 10px 0;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Header and Footer */

header {
    position: relative;
    background-color: var(--accent);
    width: 100%;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
    overflow: visible;
    z-index: 1;
}

header img {
    position: absolute;
    z-index: 10;
    top: -35px;
    width: 350px
}

footer {
    position: absolute;
    background-color: var(--accent);
    width: 100%;
    padding: 25px 0px 25px 0px;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    margin-top: 5px;
}

/* Section */

section {
    display: flex;
    height: 70%;
    width: 80%;
    margin: auto;
}

section .container {
    background-color: var(--primary);
    color: white;
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 100%;
}

section .container > div {
    display: flex;
    justify-content: center;
}

section .container > div div {
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
}

section .container ul {
    list-style-position: inside;
    text-align: left;
}

/* Button */

.btn {
    background-color: var(--accent);
    color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 12px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--secondary);
    border-color: var(--accent);
    color: var(--accent);
}

/* Breakpoints */

@media screen and (max-width: 992px) {
    footer {
        display: none;
    }
}