:root {
    --yellow: #D7d286;
    --primary: #00427D;
    --secondary: #36465F;
}

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header {
    position: relative;
    background-color: var(--yellow);
    width: 100%;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
    overflow: visible;
    z-index: 1;
}

img {
    position: absolute;
    z-index: 10;
    top: -35px;
    width: 350px
}

.container {
    position: relative;
    z-index: 20;
    display: flex;
    height: 70%;
    width: 80%;
    margin: auto;
}

.centered-div {
    background-color: var(--primary);
    color: white;
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: auto 0;
    width: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    min-width: 250px;
}

/* Footer */
footer {
    position: absolute;
    background-color: var(--yellow);
    width: 100%;
    padding: 25px 0px 25px 0px;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    z-index: 30;
    margin-top: 5px;
}

p {
    margin: 10px 0;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.btn {
    background-color: var(--yellow);
    color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 12px;
    margin: 10px;
    padding: 10px 20px;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--secondary);
    border-color: var(--yellow);
    color: var(--yellow);
}

@media screen and (max-width: 992px) {
    footer {
        display: none;
    }
}