@charset "utf-8";

@font-face {
    font-family: "Digital Dare";
    src: url("../font/digital-dare.ttf") format("truetype");
}

@font-face {
    font-family: "Arial Nova";
    src: url("../font/arial-nova.ttf") format("truetype");
}

:root {
    --binary-blue: #00427D;
    --analog-aquamarine: #0E9ED5;
    --yaml-yellow: #FFC90D;
}

/* 
    Main
*/

body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
    color: white;
    font-family: "Arial Nova";
    font-weight: bold;
    margin: 0;
}

main {
    background-color: #00427de6;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    padding: 1em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

main h1 {
    font-size: 2.2em;
}

/* 
    Header & Footer
*/

header {
    width: 100%;
    height: 200px;
    background-color: var(--binary-blue);
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

header img {
    position: absolute;
    top: -35px;
    width: 350px;
    transition: 0.5s;
}

header img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

footer {
    width: 100%;
    background-color: var(--binary-blue);
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* 
    Text
*/

footer p {
    margin: 0;
}

/* 
    Classes
*/

.dare {
    font-family: "Digital Dare";
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--analog-aquamarine);
    text-shadow: -2px 0 2px magenta;
    letter-spacing: 6px;
}

.card {
    background-color: var(--binary-blue);
    width: 50%;
    margin: auto;
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.2s;
    border-radius: 15px;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 3em;
}

.card p {
    font-size: 1.5em;
}

.card h2 {
    font-size: 2.2em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #00000033;
}

.btn {
    display: inline-block;
    background-color: var(--yaml-yellow);
    color: black;
    border: 2px solid white;
    padding: 1em;
    border-radius: 15px;
    text-decoration: none;
    margin: 5px;
    transition: 0.5s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn:hover {
    background-color: white;
    color: var(--yaml-yellow);
    border-color: var(--yaml-yellow);
    transition: 0.5s;
    transform: scale(1.1);
}

.countdown-timer {
    pointer-events: none;
}

.timer-title {
    margin-bottom: -2em;
}

/* 
    Breakpoints
*/

@media screen and (max-width: 1200px) {
    .timer-title {
        margin-bottom: -1.5em;
    }
}

@media screen and (max-width: 920px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 820px) {
    body {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 735px) {
    body {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 650px) {
    .card {
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    header {
        clip-path: unset;
        height: 200px;
    }
    header img {
        width: 220px;
        padding-top: 50px;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 400px) {
    .card {
        width: 80%;
    }
    body {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 350px) {
    header img {
        width: 200px;
        padding-top: 50px;
    }
    .card {
        width: 90%;
    }
    body {
        font-size: 0.3em;
    }
}

@media screen and (max-width: 300px) {
    footer {
        display: none;
    }
}