/* Global */
@charset "UTF-8";

@font-face {
    font-family: "Arial Nova";
    src: url("../fonts/arial-nova.ttf") format("truetype");
}

@font-face {
    font-family: "Digital Dare";
    src: url("../fonts/digital-dare.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --binary-blue: #00427D;
    --analog-aquamarine: #0E9ED5;
    --yaml-yellow: #FFC90D;
}

body {
    font-family: "Arial Nova", sans-serif;
    background-image: url("/img/background.png");
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header - Nav - Logo */

header {
    background-color: var(--binary-blue);
    color: white;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    display: inline;
    list-style-type: none;
}

#logo {
    transform: scale(1);
    transition: 0.5s;
    user-select: none;
}

#logo:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

/* Footer */

footer {
    background-color: var(--binary-blue);
    color: white;
    padding: 10px 0px;
    width: 100%;
    margin-top: auto;
}

/* Font */

.dare {
    font-family: "Digital Dare";
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--analog-aquamarine);
    text-shadow: -2px 0 2px magenta;
    letter-spacing: 6px;
}

/* Button */

.btn {
    display: inline-block;
    background-color: var(--yaml-yellow);
    color: black;
    border: 2px solid white;
    padding: 0.5em;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.5em;
    margin: 5px;
    transition: 0.5s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


.btn:hover {
    background-color: white;
    color: var(--yaml-yellow);
    border-color: var(--yaml-yellow);
    transition: 0.5s;
    transform: scale(1.1);
}

/* Formatting & Containers */

/* Margin - No new lines to save on space*/

.margin-1 { margin: 0.25rem; }
.margin-2 { margin: 0.5rem; }
.margin-3 { margin: 1rem; }
.margin-4 { margin: 2rem; }
.margin-5 { margin: 4rem; }

.margin-top-1 { margin-top: 0.25rem; }
.margin-top-2 { margin-top: 0.5rem; }
.margin-top-3 { margin-top: 1rem; }
.margin-top-4 { margin-top: 2rem; }
.margin-top-5 { margin-top: 4rem; }

.margin-right-1 { margin-right: 0.25rem; }
.margin-right-2 { margin-right: 0.5rem; }
.margin-right-3 { margin-right: 1rem; }
.margin-right-4 { margin-right: 2rem; }
.margin-right-5 { margin-right: 4rem; }

.margin-bottom-1 { margin-bottom: 0.25rem; }
.margin-bottom-2 { margin-bottom: 0.5rem; }
.margin-bottom-3 { margin-bottom: 1rem; }
.margin-bottom-4 { margin-bottom: 2rem; }
.margin-bottom-5 { margin-bottom: 4rem; }

.margin-left-1 { margin-left: 0.25rem; }
.margin-left-2 { margin-left: 0.5rem; }
.margin-left-3 { margin-left: 1rem; }
.margin-left-4 { margin-left: 2rem; }
.margin-left-5 { margin-left: 4rem; }

/* Padding - No new lines to save on space*/

.padding-1 { padding: 0.25rem; }
.padding-2 { padding: 0.5rem; }
.padding-3 { padding: 1rem; }
.padding-4 { padding: 2rem; }
.padding-5 { padding: 4rem; }

.padding-top-1 { padding-top: 0.25rem; }
.padding-top-2 { padding-top: 0.5rem; }
.padding-top-3 { padding-top: 1rem; }
.padding-top-4 { padding-top: 2rem; }
.padding-top-5 { padding-top: 4rem; }

.padding-right-1 { padding-right: 0.25rem; }
.padding-right-2 { padding-right: 0.5rem; }
.padding-right-3 { padding-right: 1rem; }
.padding-right-4 { padding-right: 2rem; }
.padding-right-5 { padding-right: 4rem; }

.padding-bottom-1 { padding-bottom: 0.25rem; }
.padding-bottom-2 { padding-bottom: 0.5rem; }
.padding-bottom-3 { padding-bottom: 1rem; }
.padding-bottom-4 { padding-bottom: 2rem; }
.padding-bottom-5 { padding-bottom: 4rem; }

.padding-left-1 { padding-left: 0.25rem; }
.padding-left-2 { padding-left: 0.5rem; }
.padding-left-3 { padding-left: 1rem; }
.padding-left-4 { padding-left: 2rem; }
.padding-left-5 { padding-left: 4rem; }

.margin-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.grid-container {
    display: grid;
}

.flex-container,.flex-container-80 {
    display: flex;
}

.flex-container-80 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    border-radius: 15px;
    border: 2px solid var(--yaml-yellow);
    max-height: 80%;
}


/* Speaker Element */

.speaker-element {

    align-items: center;
    height: 60%;
    justify-content: center;
}

.speaker-element #speaker-left-button,.speaker-element #speaker-right-button {
    height: 7.5%;
    width: 1.5%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1%;
    margin-right: 1%;
}

.speaker {
    background-color: var(--binary-blue);
    width: 70%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}  

.speaker-info {
    flex-direction: column;
}


.speaker img,.speaker-info {
    width: 50%;
    height: 100%;
    border-radius: 15px;
    color: white;
}

.speaker-info .text-center {
    padding: 2px;
}

.speaker-info h2 {
    font-size: 3rem;
    font-weight: bold;
}

.speaker-info h3 {
    font-size: 2rem;
}

.speaker-info p {
    font-size: 1.5rem;
}

.speaker-buttons {
    justify-content: center;
}

/* Media Queries - Formatting & Responsiveness */


/* Small screen sizes, anything smaller than a tablet */
@media (max-width: 576px){
    .speaker {
        flex-direction: column;
        width: 90%;
    }
    .speaker img,.speaker-info {
        width: 100%;
        height: 50%;
    }
    .speaker-info h2 {
        font-size: 2rem;
        font-weight: bold;
    }
    
    .speaker-info h3 {
        font-size: 1.5rem;
    }
    
    .speaker-info p {
        font-size: 1rem;
    }

    header {
        grid-template-columns: 0.5fr 3fr;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        font-size: 1rem;
    }

    nav .btn {
        padding: 0.25rem;
    }

    .timer {
        display: none;
    }

    .speaker-element {
        flex-direction: column;
    }

    #speaker-left-button {
        order: 5;
    }
    #speaker-right-button {
        order: 6;
    }
}

/* Medium screen sizes, usually a tablet or small laptop */
@media (max-width: 760px){

}

/* Large screens, full sized normal monitors */

@media (max-width:992px){

}

/* Extra large screens, 2k+ or ultrawide */

@media (max-width:1200px){
    
}